asgiref==3.2.10
Django==3.0.7
django-appconf==1.0.4
django-classy-tags==1.0.0
django-easy-maps==1.1.0
django-filter==2.3.0
djangorestframework==3.11.0
geographiclib==1.50
geopy==1.22.0
Markdown==3.2.2
PyMySQL==0.10.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
