<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href="/disclosure">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-map m-auto text-primary"></i>
                    </div>
                        <h3>MapApp: Geochemistry and Chemical Disclosure</h3>
                    </a>
                    <p class="lead mb-0">Geospatial insights on temperature, depth, brine, and disclosed chemical
                        usage</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <a href="/flowback">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-notebook m-auto text-primary"></i>
                    </div>
                        <h3>Measured Flowback Composition</h3>
                    </a>
                    <p class="lead mb-0">Field observations of flowback composition (upload or download)</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-calculator m-auto text-primary"></i>
                    </div>
                    <h3>Towards Transformation Prediction: Kinetic Data Repository</h3>
                    <p class="lead mb-0">Upload kinetic rules that could someday enable prediction of chemical transformation</p>
                </div>
            </div>
        </div>
    </div>
</section>